* {
  background-color: rgb(176, 183 191);
}

body {
  background-image: url('./img/home-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* padding-left: 1rem;
  padding-right: 1rem; */
  min-height: 800px;
}

.card-header,
.card-footer,
#update-modal-header,
#update-modal-footer {
  background: rgba(93, 104, 89, 0.75) !important;
  color: white;
}

img.about {
  border-radius: 50%;
  float: left;
  height: 25vh;
  margin-bottom: 1.125rem;
  margin-right: 0.5rem;
  padding-right: 0.3rem;
  width: 12vw;
}

a.about {
  color: #667860;
  font-size: 1.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
}

h3 {
  color: black;
}

p {
  clear: right;
  color: black;
  font-size: 1.3rem;
  margin-left: 0.25rem;
  padding-left: 0.25rem;
  text-align: justify;
}

#search-tab-container {
  width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: grey solid 3px;
}

#search-form-background {
  object-fit: cover;
  height: 500px;
}

#search-tabs {
  margin-bottom: 2rem;
}

.link {
  font-size: 30px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
}

.log-btn {
  width: 110px;
  padding-top: 5px;
}

.log-btn-txt {
  font-weight: 500;
  letter-spacing: 1px;
}

.search-tab-active {
  color: rgb(255, 0, 0) !important;
}

.search-tab, .search-tab-active {
  width: 180px;
  background: rgba(93, 104, 89, 0.9);
  color: white;
  padding: 10px;
  margin: 0 3px;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.react-multi-carousel-item {
  min-height: 350px !important;
}

#about-carousel-container {
  margin-top: 10vh;
  width: 70vw;
}

#landing-container {
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
}

#mission-col {
  max-width: 575px;
}

#mission-card {
  padding: 0;
  margin: 0;
}

#mission-card-body {
  text-align: center;
  background: rgba(93, 104, 89, 0.75);
  color: white;
  padding: 40px 80px;
}

#mission-card-header {
  font-size: 2rem;
  opacity: 1 !important;
}

#mission-card-txt {
  line-height: 32px;
  font-size: 25px;
  margin-top: 35px;
  text-indent: 40px;
  color: white;
}

.landing-carousel-text {
  /* max-width: 20ch; */
  color: #ffa73c;
  text-shadow: 2px 2px black;
  backdrop-filter: blur(3px);
  margin-bottom: 20px
}

#landing-carousel-caption > p {
  color: #ffa73c;
  width: 300px;
  text-shadow: 2px 2px black;
  backdrop-filter: blur(3px);
  text-align: center;
}

.landing-carousel-title {
  font-size: 30px;
}

#logo-img {
  height: 10vh;
  min-height: 100px;
}

#landing-card {
  background: rgba(187, 190, 186, 0.65);
}

#askchef-card,
#profile-card {
  background: rgba(187, 190, 186, 0.85);
  color: white;
  width: 24rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

#profile-img {
  border-radius: 50%;
  padding: 20px;
  
}

#profile-title {
  font-size: 35px;
  color: 'white';
}

#recipe-card {
  background: rgba(93, 104, 89, 0.75);
  color: white;
}

#recipe-card-steps {
  color: white;
  
}

.recipe-card-list-item {
  background: rgba(187, 190, 186, 0.65) !important;
  max-height: 20rem;
  overflow: scroll;
  color: white !important;
}
.recipe-card-list-item > h3 {
  color: white;
}

#recipe-card-title {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}

#update-modal-body {
  background: rgba(187, 190, 186, 0.65);
  color: black;
}
